@tailwind base;
@tailwind components;
@tailwind utilities;

.single-club {
  flex-basis: calc(20% - 15px);
  margin-right: 15px;
}

.single-club:nth-child(5n + 5) {
  margin-right: 0px;
}

.single-player {
  flex-basis: calc(25% - 15px);
  margin-right: 15px;
}

.single-player:nth-child(4n + 4) {
  margin-right: 0px;
}

.error {
  border-color: red;
}


